<div id="profilePage" data-ng-controller="UserProfileController">
	<div class="modal show" data-show="true" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-go-back="">&times;</button>
					<h4 class="modal-title">Profile</h4>
				</div>
				<div class="modal-body">
					<div class="row clearfix">
						<div class="col-md-4 text-center">
							<img src="{{user.PictureUrl}}" id="userPicture" class="img-thumbnail img-responsive" alt="" />
							<br />
						</div>
						<div class="col-md-8">
							<h4>{{user.UserName}}</h4>
							<p>
								<i class="glyphicon glyphicon-envelope"></i>{{user.Email}}
								<br />
								<i class="glyphicon glyphicon-calendar"></i>{{user.CreateDate}}
								<br />
							</p>
							<div class="row col-md-12 margin-bottom-x2" data-ng-hide="isMyPage">
								<a id="userProfileModalVotings" href="#/mainpage/1">All user votings</a>
							</div>
							<div data-ng-show="isMyPage">
								<div class="margin-bottom-x2">
									<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#changePasswordModal">
										<i class="glyphicon glyphicon-pencil"></i>Change password
									</button>
								</div>
								<div class="margin-bottom-x2">
									<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#changePrivacyModal">
										<i class="glyphicon glyphicon-eye-close"></i>Change privacy settings
									</button>
								</div>
								<div>
									<span class="btn btn-sm btn-success fileinput-button">
										<i class="glyphicon glyphicon-open"></i>
										<span>Change Picture</span>
										<input type="file" name="picture" />
									</span>
									<br />
									<br />
									<div id="progress" class="progress" hidden>
										<div class="progress-bar progress-bar-success"></div>
									</div>
								</div>
							</div>
							<div data-ng-hide="isMyPage">
								<div class="row clearfix margin-bottom-x2">
									<div class="col-md-8">
										<button type="button" class="btn btn-block btn-primary"
											data-ng-show="roles.indexOf('moderator')!=-1 || roles.indexOf('admin')!=-1" data-ng-click="suggestUser()">
											<i class="glyphicon glyphicon-info-sign"></i>Suggest user to block
										</button>
									</div>
								</div>
								<div class="row clearfix">
									<div class="col-md-4">
										<button type="button" class="btn btn-block btn-primary" data-ng-click="toggleLockUser()" data-ng-show="roles.indexOf('admin')!=-1">
											<span data-ng-if="!user.IsBlocked">Block</span>
											<span data-ng-if="user.IsBlocked">Unblock</span>
										</button>
									</div>
									<div class="col-md-4">
										<button type="button" class="btn btn-block btn-primary" data-ng-click="removeUser()" data-ng-show="roles.indexOf('admin')!=-1">
											<i class="glyphicon glyphicon-trash"></i>Delete
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-go-back="">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Change Password</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" data-validate-form="">
						<div class="form-group">
							<label class="col-md-4 control-label" for="oldPassword">Password</label>
							<div class="col-md-7">
								<input id="oldPassword" name="oldPassword" type="password" placeholder="Old password" class="form-control"
									required data-bv-stringlength="true"
									data-bv-stringlength-min="6" data-bv-stringlength-message="Password must be at least 6 characters length." />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="newPassword">New Password</label>
							<div class="col-md-7">
								<input id="newPassword" name="newPassword" type="password" placeholder="New password" class="form-control"
									required data-bv-stringlength="true"
									data-bv-stringlength-min="6" data-bv-stringlength-message="Password must be at least 6 characters length."
									data-bv-identical="true" data-bv-identical-field="confirmNewPassword"
									data-bv-identical-message="The password and its confirm are not the same." />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="confirmNewPassword">Confirm New Password</label>
							<div class="col-md-7">
								<input id="confirmNewPassword" name="confirmNewPassword" type="password" placeholder="Confirm new password" class="form-control"
									required data-bv-stringlength="true"
									data-bv-stringlength-min="6" data-bv-stringlength-message="Password must be at least 6 characters length."
									data-bv-identical="true" data-bv-identical-field="newPassword"
									data-bv-identical-message="The password and its confirm are not the same." />
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-default" data-ng-click="changePassword()">Save</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="changePrivacyModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Change Privacy</h4>
				</div>
				<div class="modal-body">
					<form data-validate-form="">
						<div class="form-group">
							<div class="radio">
								<label>
									<input type="radio" name="privacy" value="0" required="">
									Closed for all.
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="privacy" value="1" required="">
									Open for everyone.
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="privacy" value="2" required="">
									Open for registerd users.
								</label>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-default" data-ng-click="changePrivacy()">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
