<div id="page404" class="page" hidden>
	<h1 class="text-center">Oops!</h1>
	<h1 class="text-center text-danger">404 Not Found</h1>
	<br />
	<h4 class="text-center">Sorry, an error has occured. Requested page not found!</h4>
</div>
