<div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-hidden="true" data-on-enter-press="logIn">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Log In</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" data-validate-form="">
					<div class="form-group">
						<label class="col-md-4 control-label">Username</label>
						<div class="col-md-7">
							<input id="userName" name="username" type="text" placeholder="Username" class="form-control"
								required data-bv-stringlength="true"
								data-bv-stringlength-min="5" data-bv-stringlength-message="Login must be at least 5 characters length." />
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Password</label>
						<div class="col-md-7">
							<input id="password" name="password" type="password" placeholder="Password" class="form-control"
								required data-bv-stringlength="true"
								data-bv-stringlength-min="6" data-bv-stringlength-message="Password must be at least 6 characters length." />
						</div>
					</div>
				</form>
				If you don't have an account please <a data-toggle="modal" data-target="#registerForm">Sign Up</a>.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" id="logInButton" data-ng-click="logIn()" class="btn btn-primary">Log In</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="registerForm" tabindex="-1" role="dialog" aria-hidden="true" data-on-enter-press="register">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Register</h4>
			</div>
			<div class="modal-body">
				<form id="registerInnerForm" class="form-horizontal" data-validate-form="">
					<fieldset>
						Please enter correct email we will send confirmation email on it.
						<div class="form-group">
							<label class="col-md-4 control-label" for="userName">Username</label>
							<div class="col-md-7">
								<input id="registerUserName" name="userName" type="text" placeholder="Username" class="form-control"
									required data-bv-stringlength="true" data-focus-out="checkUserName" data-ng-model="registerUserName"
									data-bv-stringlength-min="5" data-bv-stringlength-message="Login must be at least 5 characters length." />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="Email">Email</label>
							<div class="col-md-7">
								<input id="registerEmail" name="Email" type="email" placeholder="Email" class="form-control"
									data-ng-model="registerEmail"
									required data-bv-emailaddress-message="The input is not a valid email address">
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-ng-click="register()">Register</button>
			</div>
		</div>
	</div>
</div>
