<div id="profilePage">
	<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Profile</h4>
				</div>
				<div class="modal-body">
					<div class="row clearfix">
						<div class="col-md-4 text-center">
							<img src="" id="userPicture" class="img-thumbnail img-responsive" />
							<br />
						</div>
						<div class="col-md-8">
							<h4 id="profileModalUserName">UserName</h4>
							<p>
								<i class="glyphicon glyphicon-envelope"></i><span id="profileModalEmail"></span>
								<br />
								<i class="glyphicon glyphicon-calendar"></i><span id="profileModalRegisterDate"></span>
								<br />
							</p>
							<div class="userProfile row col-md-12 margin-bottom-x2">
								<a id="userProfileModalVotings" href="#mainpage">All user votings</a>
							</div>
							<div class="myProfile">
								<div class="margin-bottom-x2">
									<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#changePasswordModal">
										<i class="glyphicon glyphicon-pencil"></i>Change password
									</button>
								</div>
								<div class="margin-bottom-x2">
									<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#changePrivacyModal">
										<i class="glyphicon glyphicon-eye-close"></i>Change privacy settings
									</button>
								</div>
								<div>
									<span class="btn btn-sm btn-success fileinput-button">
										<i class="glyphicon glyphicon-open"></i>
										<span>Change Picture</span>
										<input type="file" name="picture" id="pictureUpload" data-url="@Url.Action("UploadPicture", "Account")" />
									</span>
									<br />
									<br />
									<div id="progress" class="progress" hidden>
										<div class="progress-bar progress-bar-success"></div>
									</div>
								</div>
							</div>
							<div class="userProfile">
								<div class="row clearfix margin-bottom-x2">
									<div class="col-md-8">
										<button type="button" class="btn btn-block btn-primary for-moderator suggest-user-to-block-button">
											<i class="glyphicon glyphicon-info-sign"></i>Suggest user to block
										</button>
									</div>
								</div>
								<div class="row clearfix">
									<div class="col-md-4">
										<button type="button" class="btn btn-block btn-primary toggle-lock-user-button for-administrator">
											Block/Unblock
										</button>
									</div>
									<div class="col-md-4">
										<button type="button" class="btn btn-block btn-primary remove-user-button for-administrator">
											<i class="glyphicon glyphicon-trash"></i>Delete
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Change Password</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" data-validate-form="true">
						<div class="form-group">
							<label class="col-md-4 control-label" for="oldPassword">Password</label>
							<div class="col-md-7">
								<input id="oldPassword" name="oldPassword" type="password" placeholder="Old password" class="form-control"
									required data-bv-stringlength="true"
									data-bv-stringlength-min="6" data-bv-stringlength-message="Password must be at least 6 characters length." />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="newPassword">New Password</label>
							<div class="col-md-7">
								<input id="newPassword" name="newPassword" type="password" placeholder="New password" class="form-control"
									required data-bv-stringlength="true"
									data-bv-stringlength-min="6" data-bv-stringlength-message="Password must be at least 6 characters length."
									data-bv-identical="true" data-bv-identical-field="confirmNewPassword"
									data-bv-identical-message="The password and its confirm are not the same." />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="confirmNewPassword">Confirm New Password</label>
							<div class="col-md-7">
								<input id="confirmNewPassword" name="confirmNewPassword" type="password" placeholder="Confirm new password" class="form-control"
									required data-bv-stringlength="true"
									data-bv-stringlength-min="6" data-bv-stringlength-message="Password must be at least 6 characters length."
									data-bv-identical="true" data-bv-identical-field="newPassword"
									data-bv-identical-message="The password and its confirm are not the same." />
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-default" id="changePassword">Save</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="changePrivacyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Change Privacy</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<div class="radio">
								<label>
									<input type="radio" name="privacy" value="0">
									Closed for all.
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="privacy" value="1">
									Open for everyone.
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="privacy" value="2">
									Open for registerd users.
								</label>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-default" id="myProfileChangePrivacy">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
