<div id="adminVotingsPage" class="page" hidden>
	<div class="pagePaginator" hidden></div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Voting Name</th>
					<th>Created By</th>
					<th>Voices</th>
					<th>Comments</th>
					<th>Create Date</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody id="adminVotingsPageVotingsContent" class="destroy-on-page-close">
			</tbody>
		</table>
	</div>
	<div class="pagePaginator" hidden></div>
</div>
