<div id="commentsPage" class="page" hidden>
	<div class="pagePaginator" hidden></div>
	<div class="row">
		<div class="comments-widget">
			<ul class="list-group destroy-on-page-close" id="comments"></ul>
		</div>
	</div>
	<div class="pagePaginator" hidden></div>
</div>