<div id="userVotingsPage" class="page" hidden>
	<div class="pagePaginator" hidden></div>
	<button type="button" class="btn btn-default btn-primary" role="button" data-toggle="modal" href="#addNewVotingModal">
		<i class="glyphicon glyphicon-plus"></i>Add New
	</button>
	<br />
	<br />
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Voting Name</th>
					<th>Voices</th>
					<th>Comments</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody id="myVotingsPageVotingsContent" class="destroy-on-page-close" />
		</table>
	</div>

	<div class="pagePaginator"></div>
	<div id="addNewVoting">
		<div class="modal fade" id="addNewVotingModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">Create new voting</h4>
					</div>
					<div class="modal-body">
						<form role="form" class="form-horizontal" id="addNewVotingForm" data-validate-form="true">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="newVotingName">* Voting Name:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="newVotingName" name="newVotingName" required />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-2">
									<button type="button" class="btn btn-default btn-primary" role="button" data-toggle="modal" href="#defineQuestionsModal">
										<i class="glyphicon glyphicon-plus"></i>Define Questions
									</button>
								</div>
							</div>
							<div class="form-group date">
								<label class="col-sm-2 control-label" for="newVotingStartDate">* Start date:</label>
								<div class="col-sm-4">
									<div class="input-group date" id="newVotingStartDate">
										<input type="text" class="form-control" name="StartDate" data-format="MM/DD/YYYY"
											required data-bv-date="true"
											data-bv-date-format="MM/DD/YYYY" data-bv-date-message="The value is not a valid date." />
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group date">
								<label class="col-sm-2 control-label" for="newVotingFinishDate">* Finish date:</label>
								<div class="col-sm-4">
									<div class="input-group date" id="newVotingFinishDate">
										<input type="text" class="form-control" name="FinishDate" data-format="MM/DD/YYYY"
											required data-bv-date="true"
											data-bv-date-format="MM/DD/YYYY" data-bv-date-message="The value is not a valid date." />
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="newVotingDescription">Description:</label>
								<div class="col-sm-10">
									<textarea class="form-control" rows="8" name="Description" id="newVotingDescription"></textarea>
								</div>
							</div>
						</form>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="addNewVotingButton">Save</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="defineQuestionsModal" data-dismiss="modal" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
						<h4 class="modal-title">Create new voting</h4>
					</div>
					<div class="modal-body">
						<form role="form" class="form-horizontal">
							<div class="list-group">
							</div>
						</form>
						<div class="col-xs-12 col-sm-8 col-md-6">
							<button type="button" class="btn btn-primary btn-sm" id="addNewQuestionButton" data-toggle="modal" href="#addNewQuestionModal">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>

		<div id="addNewQuestion">
			<div class="modal" id="addNewQuestionModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">Create new question</h4>
						</div>
						<div class="modal-body">
							<form role="form" class="form-horizontal" data-validate-form="true">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="">* Voting Type:</label>
									<div class="col-sm-10">
										<div class="radio">
											<label>
												<input type="radio" value="0" name="Type" checked="checked" required="">
												Open Question
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" value="1" name="Type" required="">
												Choice Question
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">* Question Text:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="VotingText" required />
									</div>
								</div>
								<div class="form-group" role="choicequestiontype">
									<div class="col-sm-10 col-sm-offset-2">
										<button type="button" class="btn btn-default btn-primary btn-sm" role="button" data-toggle="modal" href="#defineAnswersModal">
											<i class="glyphicon glyphicon-plus"></i>Define Answers
										</button>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" id="saveNewQuestion">Ok</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="defineAnswersModal" data-dismiss="modal" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
							<h4 class="modal-title">Create new voting</h4>
						</div>
						<div class="modal-body">
							<form role="form" class="form-horizontal">
								<div class="list-group">
								</div>
							</form>
							<div class="input-group col-xs-12 col-sm-8 col-md-6">
								<input type="text" class="form-control" required="" id="addNewAnswerText" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-primary" id="addNewAnswerButton"><i class="glyphicon glyphicon-plus"></i></button>
								</span>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
