<div id="voicesPage" class="page" hidden>
	<div class="pagePaginator" hidden></div>
	<div class="voices-widget">
		<ul class="list-group destroy-on-page-close" id="voices"></ul>
	</div>
	<div class="pagePaginator" hidden></div>
</div>