<div class="row clearfix" id="withSidebar">
	<div class="col-sm-9 col-xs-12">
		@{
			Html.RenderPartial("_MainPagePartial");
			Html.RenderPartial("_VotingPagePartial");
		}
        <div id="dataNotFoundWithSideBar" class="destroy-on-page-close"></div>
	</div>
	<div class="col-sm-3 hidden-xs" class="page">
		<div class="well well-sm sidebar">
			<div class="input-group">
				<input type="text" id="mainSearch" placeholder="search" class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" id="mainSearchButton">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>

