<div class="col-md-12">
	@{
		Html.RenderPartial("_UserVotingsPagePartial");
		Html.RenderPartial("_VoicesPagePartial");
		Html.RenderPartial("_CommentsPagePartial");
		Html.RenderPartial("_AdminVotingsPagePartial");
		Html.RenderPartial("_WithSideBar");
		Html.RenderPartial("_UsersPagePartial");
	}
	<div id="dataNotFound" class="destroy-on-page-close"></div>
</div>


