<td><a href="#/votingpage/<%=VotingId%>"><%= VotingName.substr(0,50)%><%if (VotingName.length>50){%>...<%}%></a></td>
<td><a href="#/profilepage/<%=CreatedBy%>"><%= CreatedBy %></a></td>
<td><%= AnswersCount %></td>
<td><%= CommentsCount %></td>
<td><%= CreateDate %></td>
<td><% switch(Status){ case 0: %>
		Active
		<% break; case 1:%>
		Active, Not approved
		<% break; case 2:%>
		Blocked
		<% break; case 3:%>
		Closed
		<% break; }%>
</td>
<td><% if(Status==1){ %>
		<a href="#" status="Active" class="set-theme-status-button">Approve</a><br />
	<% }%>
	<% if(Status==2){ %>
		<a href="#" status="Active" class="set-theme-status-button">Unblock</a><br />
	<% }%>
	<% if(Status!=2&&Status!=3){ %>
		<a href="#" status="Blocked" class="set-theme-status-button">Block</a><br />
	<% }%>
	<% if(Status!=3){ %>
		<a href="#" status="Closed" class="set-theme-status-button">Close</a><br />
	<% }%>
		<a href="#" class="remove-theme-button">Remove</a>
</td>
