<div class="row">
	<div class="col-xs-2 col-md-2">
		<img src="<%=PictureUrl%>" class="img-responsive img-thumbnail" alt="" />
	</div>
	<div class="col-xs-10 col-md-10">
		<div>
			<div class="mic-info">
				By: <a href="#profilepage/<%= CreatedBy %>" data-username="<%= CreatedBy %>"><%= CreatedBy %></a> on <%=CreateDate%>
			</div>
		</div>
		<div class="comment-text">
			<p><%= CommentText %></p>
		</div>
		<% if(Own) {%>			
		<div class="action">
			<button type="button" class="btn btn-danger btn-xs remove-comment-button" title="Delete" data-commentid="<%= CommentId %>">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
		</div>
		<%}%>
	</div>
</div>
