<li class="list-group-item">
	<div class="row">
		<div class="col-xs-2 col-md-2">
			<img src="<%=PictureUrl%>" class="img-responsive img-thumbnail" alt="" />
		</div>
		<div class="col-xs-10 col-md-10">
			<div>
                <h4><a href="#/votingpage/<%=VotingId%>"><%= VotingName %></a></h4>
				<div class="mic-info">
					on <%=CreateDate%>
				</div>
			</div>
			<div class="widget-text">
				<p><%= CommentText %></p>
			</div>	
			<div class="action">
				<button type="button" class="btn btn-danger btn-xs remove-comment-button" title="Delete" data-commentid="<%= CommentId %>">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
		</div>
	</div>
</li>
