<div class="radio">
	<label>
		<input type="radio" name="Question<%=QuestionId%>" data-answertext="<%=AnswerText%>" value="<%=Id%>" required="" data-bv-notEmpty="true" data-bv-notEmpty-message="Select" />
		<%=AnswerText%>
	</label>
</div>
