<div>
	<label for="" class="col-xs-5 control-label"><%=Text%></label>
	<div class="col-xs-7">
		<div class="well well-sm">
			<div class="radio hidden">
				<input type="radio" name="Question<%=QuestionId%>" value="-1" required="" data-default="true" data-bv-notempty="true" data-bv-notempty-message="Select" />
			</div>
		</div>
	</div>
</div>
