<td><a href="#/votingpage/<%=VotingId%>"><%= VotingName %></a></td>
<td><%= AnswersCount %></td>
<td><%= CommentsCount %></td>
<td><%= StartDate %></td>
<td><%= EndDate %></td>
<td><% switch(Status){ case 0: %>
    Active
    <% break; case 1:%>
    Active, Not approved
    <% break; case 2:%>
    Blocked
    <% break; case 3:%>
    Closed
    <% break; }%>
</td>
<td><% if(Status!=3){ %>
    <a href="#" status="Closed" class="set-theme-status-button">Close</a>
	<% }%>
    <a href="#" class="remove-theme-button">Remove</a>
</td>
