<div class="checkbox">
	<label>
		<input type="checkbox" name="roles[]" value="<%= RoleName%>" 
			data-bv-choice="true" data-bv-choice-min="1" data-bv-choice-message="At least one role should be selected." 
			<% if (IsInRole){%>checked<%}%> />
		<%= RoleName%>
	</label>
</div>

