<li class="list-group-item">
	<div class="row">
		<div class="col-xs-2 col-md-2">
			<img src="<%=PictureUrl%>" class="img-responsive img-thumbnail" alt="" />
		</div>
		<div class="col-xs-10 col-md-10">
			<div>
				<p><h4><a href="#/votingpage/<%=VotingId%>"><%= VotingName %></a><span class="mic-info"> on <%=CreateDate%></span></h4></p>
			</div>
			<div class="widget-text">
				<%= AnswerText %>
			</div>
		</div>
	</div>
</li>
