<div class="col-xs-12">
	<div class="table-responsive panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading"><%=questionText%></div>
		<table class="table table-hover table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th class="col-xs-10"><%=firstColumn%></th>
					<th class="col-xs-2"><%=secondColumn%></th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
