<div class="col-xs-12" data-ng-controller="VoicesCtrl" data-ng-init="breadCrumbItemName='Voices'">
	<div data-ng-include="'views/templates/breadcrumb.html'" />
	<div id="voicesPage" class="page">
		<div data-ng-hide="voices.length==0" data-voting-paginator="" data-total="{{total}}"></div>
		<div class="voices-widget" data-ng-hide="voices.length==0">
			<ul class="list-group">
				<li class="list-group-item" data-ng-repeat="voice in voices">
					<div class="row">
						<div class="col-xs-2 col-md-2">
							<img data-ng-src="{{voice.PictureUrl}}" class="img-responsive img-thumbnail" alt="" />
						</div>
						<div class="col-xs-10 col-md-10">
							<div>
								<h4><a data-ng-href="#/votingpage/{{voice.VotingId}}">{{voice.VotingName}}</a></h4>
								<div class="mic-info">
									on {{voice.CreateDate}}
								</div>
							</div>
							<div class="widget-text">
								<p>{{voice.AnswerText}}</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div data-ng-hide="voices.length==0" data-voting-paginator="" data-total="{{total}}"></div>
	</div>
	<div data-ng-show="voices.length==0" data-not-found="dontHaveVoicesMessage" />
</div>
